<!DOCTYPE html>
<html>
    <head>
        <meta charset = "UTF-8">
        <title>Title</title>
    </head>
    <body>
<style>
ul li {color: red; }
.emphasis {color: green;}
</style>
        <ul>
            <% for (var i = 0; i < topics.length; i++) {%>
            <li>
                    <tr> <a id="topicid"><%= i %></a> </tr>
                    <tr>Topic: <%= topics[i].title %> </tr>
                    <tr> <a id="vote_v"><%= topics[i].votes %></a></tr>
                    <input id="vote_but" type="submit" value=3> 
                    <input id="unvote_but" type="submit" value=2> 
            </li>
            <% } %>
        </ul>
        <form>
            <input type="text" value="new topic">
            <input id="new_but" type="submit" value="create">
        </form>
    </body>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>
        $('#vote_but').click(function() {
            var target = $(this);
            $.ajax({
                url: 'http://127.0.0.1:3000/vote', 
                type: "POST",
                contentType: "application/json; charset=utf-8",
                dataType: 'json',
                data: JSON.stringify({"id": $(this).siblings('#topicid').text()}),
                success: function(data) {
                    target.siblings('#vote_v').text = data.votes;
                    location.reload();
                },
                error: function(xhr, test, thrown) {
                    console.log(xhr);
                }
            });
        });
        $('#new_but').click(function() {
            $.ajax({
                url: 'http://127.0.0.1:3000/vote', 
                type: "POST",
                contentType: "application/json; charset=utf-8",
                dataType: 'json',
                data: JSON.stringfy({"d": "g"}),
                success: function(data) {
                    console.log(data);
                },
                error: function(xhr, test, thrown) {
                    console.log(xhr);
                }
            });
        });
    </script>

</html>
